@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-main-color: #6418c3;
  --primary-main-color2: #7879f1;
  --primary-main-color3: #211a75;
  --foreground-color: #15132b;
  --background-color: #0d0b21;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: var(--background-color);
}
